@media only screen and (max-width: 1385px) and (min-width: 992px) {
    .div-eccentricyellow, .div-brightsidepurple, .div-black, .div-techgrey {
        width: 120px !important;
        height: 120px !important;
    }

    .div-smartgreen, .div-powerblue, .div-positivepink, .div-pureorange, .div-textyellow {
        width: 110px !important;
        height: 110px !important;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1440px !important;
    }
}

@media (max-width: 768px) {
    .primary-div {
        transform: inherit !important;
        height: auto !important;
        position: relative !important;
        text-align: center;
    }

    .financial-health-guru-block .financial-health-guru-img {
        position: inherit;
        top: 25px;
        display: block;
        margin: 0 auto;
    }

    .most-read-articles .owl-nav > div {
        display: none;
    }

    .most-popular-videos .owl-nav > div {
        display: none;
    }

    .centered-text .credit-without-score-text {
        font-size: 1.5rem !important;
    }

    .hero-container .hero-banner .centered-text .opportunitytxt {
        font-size: 0.9rem !important;
    }

    /*    .latest-career p.paragraph-bold-14-34.mb-1.mt-3.p-text-general.text-white {
            min-height: 45px;
        }*/
    .owl-career-opportunities .owl-item img {
        width: auto !important;
    }

    .financial-toolbox {
        background-image: none;
    }

    .meet-the-bank {
        background-image: none;
    }

    .financial-toolbox p.paragraph-regular-14-19.mb-1.mt-2.text-primary-black {
        min-height: 85px;
    }

    .bg-white-steps.stes-width {
        width: 38px;
        padding: 5px 7px !important;
        height: 38px;
        position: relative;
        top: 7px;
    }

    .mobile-count {
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .member-benifits {
        width: auto;
        top: 20px;
        margin-bottom: 30px;
    }

    .global-signup-bg {
        background-image: none!important;
    }
}

@media (max-width: 480px) {
    .pre-banking-tabs .border-whole {
        border-bottom: 1px solid #AAB2B5;
        border-left: 1px solid #AAB2B5;
        border-right: 1px solid #AAB2B5;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .owl-featured-today.owl-carousel .owl-nav {
        display: none !important;
    }
    .form-steps .bg-white-steps .step-completion {
        padding-left: 22px !important;
    }
    .just-for-you .step{
        top: auto;
        bottom: 10px;
    }
    .great-financial-body footer {
        margin-bottom: 235px;
    }

    .bg-white-steps .heading5-bold-caps-12-17 {
        font-size: 11px !important;
        position: relative;
        bottom: 2px;
    }

    .bg-white-steps.stes-width {
        width: 38px;
        padding: 5px 7px !important;
        height: 38px;
        top: auto;
    }

    .bg-white-steps .paragraph-regular-14-19 {
        font-size: 11px !important;
        position: relative;
        bottom: 2px;
    }

    .form-steps .bg-white-steps {
        padding: 5px 10px;
    }

    .po-fixed-small {
        position: fixed;
        bottom: 70px;
        z-index: 2;
        width: 100%;
        left: 0;
        background-color: #ffffff;
    }

    .po-fixed-small-skip {
        position: fixed !important;
        bottom: 0;
        z-index: 2;
        width: 100%;
        left: 0;
        background-color: #ffffff;
    }

    .health-guru-heading {
        font-size: 1.4rem;
    }

    .financial-health-guru-block .financial-health-guru-img {
        position: inherit;
        top: auto;
        width: 75%;
    }

    .great-financial-guru .heading2-regular-30-38 {
        font-size: 1.4rem;
    }

    .btn-primary-xlarge-text-icon .link1-bold-18-24 {
        font-size: 15px !important;
    }

    .btn-primary-xlarge-text-icon {
        padding: 1.2rem 1.2rem !important;
    }

    .btn-primary-xlarge-text-icon .btn-arrow {
        bottom: 25px;
    }

    .margin-top-primary-secondary {
        margin: 20px 0 0 0 !important;
    }

    .most-read-articles .owl-nav > div {
        display: none;
    }

    .most-popular-videos .owl-nav > div {
        display: none;
    }

    .centered-text .credit-without-score-text {
        font-size: 1.5rem !important;
        line-height: 25px !important;
    }

    .hero-container .hero-banner .centered-text {
        top: 30px !important;
        left: 30px !important;
    }

    .hero-container .hero-banner .centered-text .opportunitytxt {
        font-size: 0.8rem !important;
        line-height: 17px !important;
        max-width: 168px;
    }

    .heading2-bold-30-38 {
        font-size: 1.1rem !important;
    }

    .p-text-general {
        font-size: 0.8rem !important;
    }

    .financial-toolbox p.paragraph-regular-14-19.mb-1.mt-2.text-primary-black {
        min-height: 60px;
    }

    .hero-container .hero-banner .centered-text {
        max-width: 200px;
    }

    .best-help-you .card {
        min-height: auto;
    }

    .min-height-mobile {
        min-height: 145px;
    }

    .hero-container .latest-career {
        background-image: url(../images/career-opportunities-mobile-bg.png);
    }

    .behind-the-score {
        background-image: url(../images/behind-score-mobile.png);
    }

    .behind-the-score .top-right {
        position: absolute;
        top: 8%;
        right: 90px;
    }

    .general-size {
        font-size: 1.3rem !important;
        line-height: 30px;
    }

    .max-width-250 {
        max-width: 250px;
        margin: 0 auto;
    }

    .custom-h4-font-size {
        letter-spacing: 1px;
        font-size: 1.5rem;
    }

    .link-bank-modal-body {
        width: 97%;
    }

    .member-benifits {
        width: auto;
        top: 20px;
        margin-bottom: 30px;
    }
}

@media (max-width: 360px) {

}