/*Font Size Variable*/
/*font-Family Variables*/
/*Open Sans*/
@font-face {
  font-family: "OpenSans-bold";
  src: url("../fonts/OpenSans-bold.eot?") format("eot"), url("../fonts/OpenSans-bold.woff") format("woff"), url("../fonts/OpenSans-bold.ttf") format("truetype"), url("../fonts/OpenSans-bold.svg#OpenSans-bold") format("svg"); }
@font-face {
  font-family: "OpenSans-light";
  src: url("../fonts/OpenSans-light.eot?") format("eot"), url("../fonts/OpenSans-light.woff") format("woff"), url("../fonts/OpenSans-light.ttf") format("truetype"), url("../fonts/OpenSans-light.svg#OpenSans-light") format("svg"); }
@font-face {
  font-family: "OpenSans-regular";
  src: url("../fonts/OpenSans-regular.eot?") format("eot"), url("../fonts/OpenSans-regular.woff") format("woff"), url("../fonts/OpenSans-regular.ttf") format("truetype"), url("../fonts/OpenSans-regular.svg#OpenSans-regular") format("svg"); }
@font-face {
  font-family: "OpenSans-semibold";
  src: url("../fonts/OpenSans-semibold.eot?") format("eot"), url("../fonts/OpenSans-semibold.woff") format("woff"), url("../fonts/OpenSans-semibold.ttf") format("truetype"), url("../fonts/OpenSans-semibold.svg#OpenSans-semibold") format("svg"); }
@font-face {
  font-family: "OpenSans-heavy";
  src: url("../fonts/OpenSans-heavy.eot?") format("eot"), url("../fonts/OpenSans-heavy.woff") format("woff"), url("../fonts/OpenSans-heavy.ttf") format("truetype"), url("../fonts/OpenSans-heavy.svg#OpenSans-heavy") format("svg"); }
/*Fibra*/
@font-face {
  font-family: "FibraOneAlt-Bold";
  src: url("../fonts/FibraOneAlt-Bold.eot?") format("eot"), url("../fonts/FibraOneAlt-Bold.woff") format("woff"), url("../fonts/FibraOneAlt-Bold.ttf") format("truetype"), url("../fonts/FibraOneAlt-Bold.svg#FibraOneAlt-Bold") format("svg"); }
@font-face {
  font-family: "FibraOneAlt-BoldItalic";
  src: url("../fonts/FibraOneAlt-BoldItalic.eot?") format("eot"), url("../fonts/FibraOneAlt-BoldItalic.woff") format("woff"), url("../fonts/FibraOneAlt-BoldItalic.ttf") format("truetype"), url("../fonts/FibraOneAlt-BoldItalic.svg#FibraOneAlt-BoldItalic") format("svg"); }
@font-face {
  font-family: "FibraOneAlt-Heavy";
  src: url("../fonts/FibraOneAlt-Heavy.eot?") format("eot"), url("../fonts/FibraOneAlt-Heavy.woff") format("woff"), url("../fonts/FibraOneAlt-Heavy.ttf") format("truetype"), url("../fonts/FibraOneAlt-Heavy.svg#FibraOneAlt-Heavy") format("svg"); }
@font-face {
  font-family: "FibraOneAlt-HeavyItalic";
  src: url("../fonts/FibraOneAlt-HeavyItalic.eot?") format("eot"), url("../fonts/FibraOneAlt-HeavyItalic.woff") format("woff"), url("../fonts/FibraOneAlt-HeavyItalic.ttf") format("truetype"), url("../fonts/FibraOneAlt-HeavyItalic.svg#FibraOneAlt-HeavyItalic") format("svg"); }
@font-face {
  font-family: "FibraOneAlt-Light";
  src: url("../fonts/FibraOneAlt-Light.eot?") format("eot"), url("../fonts/FibraOneAlt-Light.woff") format("woff"), url("../fonts/FibraOneAlt-Light.ttf") format("truetype"), url("../fonts/FibraOneAlt-Light.svg#FibraOneAlt-Light") format("svg"); }
@font-face {
  font-family: "FibraOneAlt-LightItalic";
  src: url("../fonts/FibraOneAlt-LightItalic.eot?") format("eot"), url("../fonts/FibraOneAlt-LightItalic.woff") format("woff"), url("../fonts/FibraOneAlt-LightItalic.ttf") format("truetype"), url("../fonts/FibraOneAlt-LightItalic.svg#FibraOneAlt-LightItalic") format("svg"); }
@font-face {
  font-family: "FibraOneAlt-Regular";
  src: url("../fonts/FibraOneAlt-Regular.eot?") format("eot"), url("../fonts/FibraOneAlt-Regular.woff") format("woff"), url("../fonts/FibraOneAlt-Regular.ttf") format("truetype"), url("../fonts/FibraOneAlt-Regular.svg#FibraOneAlt-Regular") format("svg"); }
@font-face {
  font-family: "FibraOneAlt-RegularItalic";
  src: url("../fonts/FibraOneAlt-RegularItalic.eot?") format("eot"), url("../fonts/FibraOneAlt-RegularItalic.woff") format("woff"), url("../fonts/FibraOneAlt-RegularItalic.ttf") format("truetype"), url("../fonts/FibraOneAlt-RegularItalic.svg#FibraOneAlt-RegularItalic") format("svg"); }
@font-face {
  font-family: "FibraOneAlt-SemiBold";
  src: url("../fonts/FibraOneAlt-SemiBold.eot?") format("eot"), url("../fonts/FibraOneAlt-SemiBold.woff") format("woff"), url("../fonts/FibraOneAlt-SemiBold.ttf") format("truetype"), url("../fonts/FibraOneAlt-SemiBold.svg#FibraOneAlt-SemiBold") format("svg"); }
@font-face {
  font-family: "FibraOneAltSemi-BoldItalic";
  src: url("../fonts/FibraOneAltSemi-BoldItalic.eot?") format("eot"), url("../fonts/FibraOneAltSemi-BoldItalic.woff") format("woff"), url("../fonts/FibraOneAltSemi-BoldItalic.ttf") format("truetype"), url("../fonts/FibraOneAltSemi-BoldItalic.svg#FibraOneAltSemi-BoldItalic") format("svg"); }
@font-face {
  font-family: "FibraOneAlt-Thin";
  src: url("../fonts/FibraOneAlt-Thin.eot?") format("eot"), url("../fonts/FibraOneAlt-Thin.woff") format("woff"), url("../fonts/FibraOneAlt-Thin.ttf") format("truetype"), url("../fonts/FibraOneAlt-Thin.svg#FibraOneAlt-Thin") format("svg"); }
@font-face {
  font-family: "FibraOneAlt-ThinItalic";
  src: url("../fonts/FibraOneAlt-ThinItalic.eot?") format("eot"), url("../fonts/FibraOneAlt-ThinItalic.woff") format("woff"), url("../fonts/FibraOneAlt-ThinItalic.ttf") format("truetype"), url("../fonts/FibraOneAlt-ThinItalic.svg#FibraOneAlt-ThinItalic") format("svg"); }
@font-face {
  font-family: "FibraOneAlt-UltraBold";
  src: url("../fonts/FibraOneAlt-UltraBold.eot?") format("eot"), url("../fonts/FibraOneAlt-UltraBold.woff") format("woff"), url("../fonts/FibraOneAlt-UltraBold.ttf") format("truetype"), url("../fonts/FibraOneAlt-UltraBold.svg#FibraOneAlt-UltraBold") format("svg"); }
@font-face {
  font-family: "FibraOneAltUltra-BoldItalic";
  src: url("../fonts/FibraOneAltUltra-BoldItalic.eot?") format("eot"), url("../fonts/FibraOneAltUltra-BoldItalic.woff") format("woff"), url("../fonts/FibraOneAltUltra-BoldItalic.ttf") format("truetype"), url("../fonts/FibraOneAltUltra-BoldItalic.svg#FibraOneAltUltra-BoldItalic") format("svg"); }
@font-face {
  font-family: "FibraOneAlt-UltraLight";
  src: url("../fonts/FibraOneAlt-UltraLight.eot?") format("eot"), url("../fonts/FibraOneAlt-UltraLight.woff") format("woff"), url("../fonts/FibraOneAlt-UltraLight.ttf") format("truetype"), url("../fonts/FibraOneAlt-UltraLight.svg#FibraOneAlt-UltraLight") format("svg"); }
@font-face {
  font-family: "FibraOneAlt-UltraLightItalic";
  src: url("../fonts/FibraOneAlt-UltraLightItalic.eot?") format("eot"), url("../fonts/FibraOneAlt-UltraLightItalic.woff") format("woff"), url("../fonts/FibraOneAlt-UltraLightItalic.ttf") format("truetype"), url("../fonts/FibraOneAlt-UltraLightItalic.svg#FibraOneAlt-UltraLightItalic") format("svg"); }
@font-face {
  font-family: "FibraOne-Bold";
  src: url("../fonts/FibraOne-Bold.eot?") format("eot"), url("../fonts/FibraOne-Bold.woff") format("woff"), url("../fonts/FibraOne-Bold.ttf") format("truetype"), url("../fonts/FibraOne-Bold.svg#FibraOne-Bold") format("svg"); }
@font-face {
  font-family: "FibraOne-BoldItalic";
  src: url("../fonts/FibraOne-BoldItalic.eot?") format("eot"), url("../fonts/FibraOne-BoldItalic.woff") format("woff"), url("../fonts/FibraOne-BoldItalic.ttf") format("truetype"), url("../fonts/FibraOne-BoldItalic.svg#FibraOne-BoldItalic") format("svg"); }
@font-face {
  font-family: "FibraOne-Heavy";
  src: url("../fonts/FibraOne-Heavy.eot?") format("eot"), url("../fonts/FibraOne-Heavy.woff") format("woff"), url("../fonts/FibraOne-Heavy.ttf") format("truetype"), url("../fonts/FibraOne-Heavy.svg#FibraOne-Heavy") format("svg"); }
@font-face {
  font-family: "FibraOne-HeavyItalic";
  src: url("../fonts/FibraOne-HeavyItalic.eot?") format("eot"), url("../fonts/FibraOne-HeavyItalic.woff") format("woff"), url("../fonts/FibraOne-HeavyItalic.ttf") format("truetype"), url("../fonts/FibraOne-HeavyItalic.svg#FibraOne-HeavyItalic") format("svg"); }
@font-face {
  font-family: "FibraOne-Light";
  src: url("../fonts/FibraOne-Light.eot?") format("eot"), url("../fonts/FibraOne-Light.woff") format("woff"), url("../fonts/FibraOne-Light.ttf") format("truetype"), url("../fonts/FibraOne-Light.svg#FibraOne-Light") format("svg"); }
@font-face {
  font-family: "FibraOne-LightItalic";
  src: url("../fonts/FibraOne-LightItalic.eot?") format("eot"), url("../fonts/FibraOne-LightItalic.woff") format("woff"), url("../fonts/FibraOne-LightItalic.ttf") format("truetype"), url("../fonts/FibraOne-LightItalic.svg#FibraOne-LightItalic") format("svg"); }
@font-face {
  font-family: "FibraOne-Regular";
  src: url("../fonts/FibraOne-Regular.eot?") format("eot"), url("../fonts/FibraOne-Regular.woff") format("woff"), url("../fonts/FibraOne-Regular.ttf") format("truetype"), url("../fonts/FibraOne-Regular.svg#FibraOne-Regular") format("svg"); }
@font-face {
  font-family: "FibraOne-RegularItalic";
  src: url("../fonts/FibraOne-RegularItalic.eot?") format("eot"), url("../fonts/FibraOne-RegularItalic.woff") format("woff"), url("../fonts/FibraOne-RegularItalic.ttf") format("truetype"), url("../fonts/FibraOne-RegularItalic.svg#FibraOne-RegularItalic") format("svg"); }
@font-face {
  font-family: "FibraOne-SemiBold";
  src: url("../fonts/FibraOne-SemiBold.eot?") format("eot"), url("../fonts/FibraOne-SemiBold.woff") format("woff"), url("../fonts/FibraOne-SemiBold.ttf") format("truetype"), url("../fonts/FibraOne-SemiBold.svg#FibraOne-SemiBold") format("svg"); }
@font-face {
  font-family: "FibraOne-SemiBoldItalic";
  src: url("../fonts/FibraOne-SemiBoldItalic.eot?") format("eot"), url("../fonts/FibraOne-SemiBoldItalic.woff") format("woff"), url("../fonts/FibraOne-SemiBoldItalic.ttf") format("truetype"), url("../fonts/FibraOne-SemiBoldItalic.svg#FibraOne-SemiBoldItalic") format("svg"); }
@font-face {
  font-family: "FibraOne-Thin";
  src: url("../fonts/FibraOne-Thin.eot?") format("eot"), url("../fonts/FibraOne-Thin.woff") format("woff"), url("../fonts/FibraOne-Thin.ttf") format("truetype"), url("../fonts/FibraOne-Thin.svg#FibraOne-Thin") format("svg"); }
@font-face {
  font-family: "FibraOne-ThinItalic";
  src: url("../fonts/FibraOne-ThinItalic.eot?") format("eot"), url("../fonts/FibraOne-ThinItalic.woff") format("woff"), url("../fonts/FibraOne-ThinItalic.ttf") format("truetype"), url("../fonts/FibraOne-ThinItalic.svg#FibraOne-ThinItalic") format("svg"); }
@font-face {
  font-family: "FibraOne-UltraBold";
  src: url("../fonts/FibraOne-UltraBold.eot?") format("eot"), url("../fonts/FibraOne-UltraBold.woff") format("woff"), url("../fonts/FibraOne-UltraBold.ttf") format("truetype"), url("../fonts/FibraOne-UltraBold.svg#FibraOne-UltraBold") format("svg"); }
@font-face {
  font-family: "FibraOne-UltraBoldItalic";
  src: url("../fonts/FibraOne-UltraBoldItalic.eot?") format("eot"), url("../fonts/FibraOne-UltraBoldItalic.woff") format("woff"), url("../fonts/FibraOne-UltraBoldItalic.ttf") format("truetype"), url("../fonts/FibraOne-UltraBoldItalic.svg#FibraOne-UltraBoldItalic") format("svg"); }
@font-face {
  font-family: "FibraOne-UltraLight";
  src: url("../fonts/FibraOne-UltraLight.eot?") format("eot"), url("../fonts/FibraOne-UltraLight.woff") format("woff"), url("../fonts/FibraOne-UltraLight.ttf") format("truetype"), url("../fonts/FibraOne-UltraLight.svg#FibraOne-UltraLight") format("svg"); }
@font-face {
  font-family: "FibraOne-UltraLightItalic";
  src: url("../fonts/FibraOne-UltraLightItalic.eot?") format("eot"), url("../fonts/FibraOne-UltraLightItalic.woff") format("woff"), url("../fonts/FibraOne-UltraLightItalic.ttf") format("truetype"), url("../fonts/FibraOne-UltraLightItalic.svg#FibraOne-UltraLightItalic") format("svg"); }
/*Open Sans*/
/*Fibra*/
/*font-Weight Variables*/
/*Common Font color Variable*/
html, body {
  line-height: 20px;
  font-weight: normal;
  color: #4A4A4A;
  background: #ffffff;
  right: 0;
  -webkit-transition: 0.5s right ease;
  transition: 0.5s right ease;
  font-family: "OpenSans-regular", Sans Serif;
  letter-spacing: 0.5px;
  position: inherit;
  overflow-x: hidden; }

/* GENERAL css */
.btn-brightsidepurple {
  background-color: #6B17B3;
  color: #ffffff;
  border-radius: 30px !important;
  padding: 0.775rem 2.75rem !important;
  cursor: pointer; }
  .btn-brightsidepurple .hotspot {
    color: #ffffff;
    text-decoration: none; }
    .btn-brightsidepurple .hotspot:hover {
      color: #cccccc;
      text-decoration: none; }
  .btn-brightsidepurple:focus {
    outline: none !important; }

.bg-tech-grey {
  background-color: #f2f2f2 !important; }

.bg-tech-grey-dark {
  background-color: #E3E4E5 !important; }

.bg-pure-orange {
  background-color: #ea520f !important; }

.bg-power-blue {
  background-color: #2661d2 !important; }

.bg-text-yellow {
  background-color: #fabb36 !important; }

.heading1-bold-40-54 {
  font-family: "FibraOne-Bold", Sans Serif !important; }

.heading2-bold-30-38 {
  font-family: "FibraOne-Bold", Sans Serif !important; }

.heading2-regular-30-38 {
  font-family: "FibraOne-Regular", Sans Serif !important; }

.heading2-light-30-38 {
  font-family: "FibraOne-Light", Sans Serif !important; }

.heading3-bold-24-32 {
  font-family: "FibraOne-Bold", Sans Serif !important; }

.heading3-regular-24-32 {
  font-family: "FibraOne-Regular", Sans Serif !important; }

.heading4-heavy-18-24 {
  font-family: "FibraOne-Heavy", Sans Serif !important; }

.heading4-bold-18-24 {
  font-family: "FibraOne-Bold", Sans Serif !important; }

.heading4-regular-18-24 {
  font-family: "FibraOne-Regular", Sans Serif !important; }

.heading5-bold-caps-12-17 {
  font-family: "OpenSans-bold", Sans Serif !important;
  text-transform: uppercase !important;
  font-size: 12px !important; }

.heading5-regular-12-16 {
  font-family: "OpenSans-regular", Sans Serif !important;
  font-size: 12px !important; }

.heading5-bold-12-17 {
  font-family: "OpenSans-bold", Sans Serif !important;
  font-size: 12px !important; }

.heading6-heavy-10-13 {
  font-family: "OpenSans-heavy", Sans Serif !important;
  text-transform: uppercase !important;
  font-size: 10px !important; }

.heading6-bold-10-13 {
  font-family: "OpenSans-bold", Sans Serif !important;
  font-size: 10px !important; }

.heading6-regular-10-13 {
  font-family: "OpenSans-regular", Sans Serif !important;
  font-size: 10px !important; }

.link-bold-18-24 {
  font-family: "FibraOne-Bold", Sans Serif !important;
  text-decoration: none !important; }
  .link-bold-18-24:hover {
    text-decoration: none !important; }

.link1-bold-18-24 {
  font-family: "FibraOne-Bold", Sans Serif !important;
  text-decoration: none !important;
  font-size: 18px !important; }
  .link1-bold-18-24:hover {
    text-decoration: none !important; }

.link2-bold-18-24 {
  font-family: "FibraOne-Bold", Sans Serif !important;
  background-color: #E3E4E5 !important;
  font-size: 18px !important;
  padding: 7px !important;
  text-decoration: none !important; }
  .link2-bold-18-24:hover {
    text-decoration: none !important; }

.link3-bold-14-19 {
  font-family: "FibraOne-Bold", Sans Serif !important;
  text-decoration: underline !important;
  text-decoration-color: #6b17b3 !important;
  font-size: 14px !important; }
  .link3-bold-14-19:hover {
    text-decoration: underline !important;
    text-decoration-color: #6b17b3 !important; }

.link4-bold-14-19 {
  font-family: "FibraOne-Bold", Sans Serif !important;
  font-size: 14px !important;
  padding: 7px !important;
  text-decoration: none !important; }
  .link4-bold-14-19:hover {
    text-decoration: none !important; }

.link5-bold-14-19 {
  font-family: "FibraOne-Bold", Sans Serif !important;
  font-size: 14px !important;
  padding: 7px !important;
  text-decoration: none !important; }
  .link5-bold-14-19:hover {
    text-decoration: none !important; }

.link6-bold-14-19 {
  font-family: "FibraOne-Bold", Sans Serif !important;
  font-size: 14px !important;
  padding: 7px !important;
  text-decoration: underline !important;
  text-decoration-color: #f2f2f2 !important; }
  .link6-bold-14-19:hover {
    text-decoration: underline !important;
    text-decoration-color: #f2f2f2 !important; }

.link7-bold-14-19 {
  font-family: "FibraOne-Bold", Sans Serif !important;
  background-color: #E3E4E5 !important;
  font-size: 14px !important;
  padding: 7px !important;
  text-decoration: none !important; }
  .link7-bold-14-19:hover {
    text-decoration: none !important; }

.paragraph-bold-14-34 {
  font-family: "OpenSans-bold", Sans Serif !important;
  font-size: 14px !important; }

.paragraph-regular-14-19 {
  font-family: "OpenSans-regular", Sans Serif !important;
  font-size: 14px !important; }

.header-menu-text {
  font-family: "FibraOne-Bold", Sans Serif;
  font-size: 17px;
  padding: 15px 20px; }

.body-link-3 {
  padding: 0 !important; }
  .body-link-3 .top-right {
    position: absolute;
    top: 10px;
    right: 25px; }
  .body-link-3 .btn-primary-link-btn {
    padding: 15px 20px 20px;
    background: #FCFCFC;
    border-radius: 100%;
    border: 2px solid #D9D9D9; }
  .body-link-3 .btn-primary-link-btn-submit {
    padding: 15px 20px 20px;
    background: #FCFCFC;
    border-radius: 50px;
    width: 100%;
    border: 2px solid #D9D9D9;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px; }

.link-bank-modal-body {
  width: 73%;
  margin: 0 auto 40px auto;
  -webkit-box-shadow: 5px 5px 50px 0 lightgray;
  -moz-box-shadow: 5px 5px 50px 0 lightgray;
  box-shadow: 5px 5px 50px 0 lightgray; }
  .link-bank-modal-body .bank-listing-div {
    max-height: 310px;
    overflow-y: scroll;
    overflow-x: hidden; }
  .link-bank-modal-body .modal-header-link-2 {
    padding: 5px 15px 30px 15px !important; }
  .link-bank-modal-body .modal-header-link-3 {
    padding: 0 !important; }
  .link-bank-modal-body .bank-login-form-3 .send-security-code {
    background-color: #5D5D5D;
    display: inline-flex;
    width: 100%; }
  .link-bank-modal-body .bank-login-form-3 .account-successfully {
    background-color: #7F7F7F;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; }
  .link-bank-modal-body .bank-login-form-3 .heading4-regular-18-24 {
    font-size: 18px;
    position: relative;
    top: 6px;
    left: 15px;
    color: #F9F9F9; }
  .link-bank-modal-body .bank-login-form-3 .heading4-regular-18-24.account-was {
    font-size: 21px;
    position: relative;
    color: #F9F9F9;
    padding-top: 15px;
    top: auto;
    left: auto;
    line-height: 30px; }
  .link-bank-modal-body .bank-login-form-3 .heading4-regular-18-24.like-to-send {
    font-size: 18px;
    position: relative;
    top: 6px;
    left: 0;
    color: #8B8B8B; }
  .link-bank-modal-body .bank-login-form-3 .custom-bank-form-group {
    border-radius: 20px;
    padding: .475rem 1rem;
    border: 2px solid #C1C1C1;
    font-size: 17px;
    font-weight: 600; }
  .link-bank-modal-body .bank-login-form-3 .custom-bank-form-group-lg {
    border-radius: 10px;
    padding: 0.75rem 1rem;
    border: 2px solid #C1C1C1;
    font-size: 20px;
    font-weight: 600; }
  .link-bank-modal-body .bank-login-form-3 ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #9A9A9A; }
  .link-bank-modal-body .bank-login-form-3 ::-moz-placeholder {
    /* Firefox 19+ */
    color: #9A9A9A; }
  .link-bank-modal-body .bank-login-form-3 :-ms-input-placeholder {
    /* IE 10+ */
    color: #9A9A9A; }
  .link-bank-modal-body .bank-login-form-3 :-moz-placeholder {
    /* Firefox 18- */
    color: #9A9A9A; }
  .link-bank-modal-body .bank-login-form .custom-bank-form-group {
    border: none;
    box-shadow: none !important;
    padding: 0 !important;
    font-size: 1.4rem;
    max-height: 25px;
    position: relative;
    bottom: 4px; }
  .link-bank-modal-body .bank-login-form .form-group {
    background-color: #ffffff;
    padding: 2px 10px 5px 10px;
    border: 2px solid #C1C1C1;
    border-radius: 10px;
    font-size: 0.8rem; }
  .link-bank-modal-body .bank-login-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #9A9A9A; }
  .link-bank-modal-body .bank-login-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #9A9A9A; }
  .link-bank-modal-body .bank-login-form :-ms-input-placeholder {
    /* IE 10+ */
    color: #9A9A9A; }
  .link-bank-modal-body .bank-login-form :-moz-placeholder {
    /* Firefox 18- */
    color: #9A9A9A; }
  .link-bank-modal-body .bank-login-form .btn-primary-link-btn {
    padding: 15px 20px 20px;
    background: #FCFCFC;
    border-radius: 100%;
    border: 2px solid #D9D9D9; }
  .link-bank-modal-body .bank-login-form .btn-primary-link-btn-submit {
    padding: 15px 20px 20px;
    background: #FCFCFC;
    border-radius: 50px;
    width: 100%;
    border: 2px solid #D9D9D9;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    font-size: 20px; }
  .link-bank-modal-body .btn-primary-link-btn-goto-account {
    padding: 15px 20px 20px;
    background: inherit;
    border-radius: 15px;
    width: 100%;
    border: 1px solid #8B8B8B;
    -webkit-border-radius: 15px;
    -moz-border-radius: 50px;
    font-size: 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    font-weight: bold; }
    .link-bank-modal-body .btn-primary-link-btn-goto-account:hover {
      background-color: #ffffff;
      box-shadow: 0px 15px 20px rgba(100, 100, 100, 0.4);
      color: #000000;
      transform: translateY(-7px); }

.header-menu-text-pro {
  font-family: "FibraOne-Bold", Sans Serif;
  font-size: 17px;
  padding: 0 20px; }

.bg-brightsidepurple {
  background-color: #6b17b3;
  color: #ffffff; }

.navi-badge {
  background: #fad136;
  background: #FAD136;
  padding: 6px 7px !important;
  border-radius: 100% !important;
  position: absolute;
  bottom: 50%;
  left: 85%;
  color: #1e1e20;
  font-size: 0.7rem !important; }

/* Button css start */
.btn-primary-large-text-icon {
  background-color: #6b17b3;
  color: #ffffff;
  border-radius: 30px !important;
  padding: 0.774rem 1.8rem !important;
  cursor: pointer;
  width: 100%; }
  .btn-primary-large-text-icon .btn-arrow {
    position: absolute;
    bottom: 20px;
    right: 25px;
    width: 45px; }
  .btn-primary-large-text-icon:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #8E28E7; }
    .btn-primary-large-text-icon:hover .btn-arrow {
      right: 35px; }
    .btn-primary-large-text-icon:hover .right-arrow {
      right: 35px !important; }
  .btn-primary-large-text-icon:focus {
    outline: none !important; }
  .btn-primary-large-text-icon .right-arrow {
    position: absolute;
    right: 25px;
    top: 15px;
    font-size: 23px; }

.btn-primary-large-text {
  background-color: #6b17b3;
  color: #ffffff;
  border-radius: 30px !important;
  padding: 0.774rem 1.8rem !important;
  cursor: pointer;
  width: 100%;
  font-weight: 600 !important;
  font-weight: 600 !important; }
  .btn-primary-large-text:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #8E28E7; }
  .btn-primary-large-text:focus {
    outline: none !important; }

.btn-ghost-large-text {
  background-color: #ffffff;
  color: #6b17b3;
  border-radius: 30px !important;
  padding: 0.774rem 1.8rem !important;
  cursor: pointer;
  width: 100%;
  border: 2px solid #6b17b3 !important; }
  .btn-ghost-large-text:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #6b17b3; }
  .btn-ghost-large-text:focus {
    outline: none !important; }

.btn-ghost-large-text-icon {
  background-color: #ffffff;
  color: #6b17b3;
  border-radius: 30px !important;
  padding: 0.774rem 1.8rem !important;
  cursor: pointer;
  width: 100%;
  border: 2px solid #6b17b3 !important; }
  .btn-ghost-large-text-icon .btn-arrow {
    position: absolute;
    bottom: 18px;
    right: 25px;
    width: 45px; }
  .btn-ghost-large-text-icon:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #6b17b3; }
    .btn-ghost-large-text-icon:hover .btn-arrow {
      right: 35px; }
    .btn-ghost-large-text-icon:hover .right-arrow {
      right: 35px !important;
      color: #ffffff; }
  .btn-ghost-large-text-icon:focus {
    outline: none !important; }
  .btn-ghost-large-text-icon .right-arrow {
    position: absolute;
    right: 25px;
    top: 15px;
    font-size: 23px;
    color: #6b17b3; }

.btn-white-large-text-icon {
  background-color: #ffffff;
  color: #6b17b3;
  border-radius: 30px !important;
  padding: 0.774rem 1.8rem !important;
  cursor: pointer;
  width: 100%;
  -webkit-box-shadow: 0px 0px 2px 2px #B5B5B5;
  box-shadow: 0px 0px 2px 2px #B5B5B5;
  border: 2px solid #ffffff !important; }
  .btn-white-large-text-icon .btn-arrow {
    position: absolute;
    bottom: 20px;
    right: 25px;
    width: 40px; }
  .btn-white-large-text-icon:hover {
    color: #6b17b3;
    text-decoration: none;
    background-color: #ffffff;
    border: 2px solid #fabb36 !important;
    -webkit-box-shadow: 0px 0px 2px 2px #B5B5B5;
    box-shadow: 0px 0px 2px 2px #B5B5B5; }
    .btn-white-large-text-icon:hover .btn-arrow {
      right: 35px; }
    .btn-white-large-text-icon:hover .right-arrow {
      right: 35px !important; }
  .btn-white-large-text-icon:focus {
    outline: none !important; }
  .btn-white-large-text-icon .right-arrow {
    position: absolute;
    right: 25px;
    top: 15px;
    font-size: 23px; }

.btn-white-large-text {
  background-color: #ffffff;
  color: #6b17b3;
  border-radius: 30px !important;
  padding: 0.774rem 1.8rem !important;
  cursor: pointer;
  width: 100%;
  -webkit-box-shadow: 0px 0px 2px 2px #B5B5B5;
  box-shadow: 0px 0px 2px 2px #B5B5B5;
  border: 2px solid #ffffff !important; }
  .btn-white-large-text:hover {
    color: #6b17b3;
    text-decoration: none;
    background-color: #ffffff;
    border: 2px solid #fabb36 !important;
    -webkit-box-shadow: 0px 0px 2px 2px #B5B5B5;
    box-shadow: 0px 0px 2px 2px #B5B5B5; }
  .btn-white-large-text:focus {
    outline: none !important; }

.btn-ghost-large-plus-icon {
  background-color: #ffffff;
  color: #6b17b3;
  border-radius: 30px !important;
  padding: 0.774rem 1.8rem !important;
  cursor: pointer;
  width: 100%;
  border: 2px solid #6b17b3 !important; }
  .btn-ghost-large-plus-icon:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #6b17b3; }
    .btn-ghost-large-plus-icon:hover .plus-btn-icon {
      color: #ffffff; }
  .btn-ghost-large-plus-icon:focus {
    outline: none !important; }
  .btn-ghost-large-plus-icon .plus-btn-icon {
    font-size: 18px;
    color: #6b17b3; }

.btn-primary-xlarge-text-icon {
  background-color: #fabb36;
  color: #ffffff;
  border-radius: 50px !important;
  padding: 1.6rem 1.8rem !important;
  cursor: pointer;
  width: 100%; }
  .btn-primary-xlarge-text-icon .btn-arrow {
    position: absolute;
    bottom: 33px;
    right: 35px;
    width: 45px; }
  .btn-primary-xlarge-text-icon:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #FAD136; }
    .btn-primary-xlarge-text-icon:hover .btn-arrow {
      right: 35px; }
    .btn-primary-xlarge-text-icon:hover .right-arrow {
      right: 35px !important; }
  .btn-primary-xlarge-text-icon:focus {
    outline: none !important; }
  .btn-primary-xlarge-text-icon .right-arrow {
    position: absolute;
    right: 25px;
    top: 28px;
    font-size: 23px; }

/* Custom custom radio button css start */
.custom-radio-bba [type="radio"]:checked,
.custom-radio-bba [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }
.custom-radio-bba [type="radio"]:checked + label,
.custom-radio-bba [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666; }
.custom-radio-bba [type="radio"]:checked + label:before,
.custom-radio-bba [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #cccccc;
  border-radius: 100%;
  background: #ffffff; }
.custom-radio-bba [type="radio"]:checked + label:after,
.custom-radio-bba [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 14px;
  height: 14px;
  background: #6b17b3;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
.custom-radio-bba [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }
.custom-radio-bba [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.custom-checkbox-bba .checkbox-custom {
  zoom: 2.2; }

/* Custom Toggle button css start */
.custom-toggle-bba .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }
.custom-toggle-bba .switch input {
  display: none; }
.custom-toggle-bba .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }
.custom-toggle-bba .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }
.custom-toggle-bba input:checked + .slider {
  background-color: #44bca3; }
.custom-toggle-bba input:focus + .slider {
  box-shadow: 0 0 1px #44bca3; }
.custom-toggle-bba input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }
.custom-toggle-bba .slider.round {
  border-radius: 34px; }
.custom-toggle-bba .slider.round:before {
  border-radius: 50%; }

/* Custom add button css start */
.custom-add-button-bba .btn {
  padding: 0 !important;
  background-color: #ffffff;
  line-height: 0 !important; }
.custom-add-button-bba .btn-add {
  font-size: 40px;
  color: #6b17b3;
  cursor: pointer; }
  .custom-add-button-bba .btn-add:focus {
    outline: none;
    box-shadow: none; }

/* Photography css start */
.photography-div {
  position: relative;
  height: 100%;
  width: 100%; }

/* Icons CSS start */
.icons .icons-text {
  line-height: 40px; }

.icons-symbol {
  line-height: 40px;
  display: inline-block;
  cursor: pointer; }
  .icons-symbol .icons-bg {
    background-color: #f2f2f2; }
  .icons-symbol .btn-burger {
    background-color: #ffffff;
    cursor: pointer; }
    .icons-symbol .btn-burger:after {
      border-right: none;
      border-left: none; }
    .icons-symbol .btn-burger:focus {
      box-shadow: none; }
  .icons-symbol .burger-dropdown {
    border: none;
    -webkit-box-shadow: 0px 0px 10px 1px #f2f2f2;
    -moz-box-shadow: 0px 0px 10px 1px #f2f2f2;
    box-shadow: 0px 0px 10px 1px #f2f2f2; }
    .icons-symbol .burger-dropdown .dropdown-item {
      padding: 0 1.5rem; }
      .icons-symbol .burger-dropdown .dropdown-item .menu-fa-icon {
        width: 9px;
        position: relative;
        top: 15px; }
    .icons-symbol .burger-dropdown .dropdown-item.active, .icons-symbol .burger-dropdown .dropdown-item:active {
      color: #16181b;
      text-decoration: none;
      background-color: #f8f9fa; }
  .icons-symbol .dropdown-menu.show {
    top: 15px !important;
    left: -30px !important;
    margin: 54px auto 0 auto;
    border-radius: 2px; }

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.p-text-general {
  font-size: 1.2rem !important;
  line-height: 23px; }

.row {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center; }

.hero-container {
  margin-top: 75px; }
  .hero-container .hero-banner {
    /* Centered text */ }
    .hero-container .hero-banner .centered-text {
      position: absolute;
      top: 20%;
      left: 17%;
      max-width: 435px; }
      .hero-container .hero-banner .centered-text .credit-without-score-text {
        font-size: 3.5rem;
        font-family: "OpenSans-bold", Sans Serif;
        line-height: 50px; }
      .hero-container .hero-banner .centered-text .opportunitytxt {
        font-size: 1.2rem !important;
        max-width: 352px;
        line-height: 23px; }
  .hero-container .latest-career {
    background-image: url(../images/career-opportunities.png);
    /* Centered text */ }
    .hero-container .latest-career .z-index-two {
      z-index: 2; }
    .hero-container .latest-career .border-cayn {
      border-bottom: 2px solid #44bca3; }
    .hero-container .latest-career .LikeToggler {
      cursor: pointer; }

.best-help-you .card {
  position: relative;
  display: inline-block;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 1px #f2f2f2;
  -moz-box-shadow: 0px 0px 10px 1px #f2f2f2;
  box-shadow: 0px 0px 10px 1px #f2f2f2;
  min-height: 200px;
  border: 0;
  border-radius: 10px; }
  .best-help-you .card .img-top {
    display: none;
    position: absolute;
    top: 46%;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, -50%); }
  .best-help-you .card:hover {
    background-color: #6b17b3;
    -webkit-box-shadow: 0px 0px 10px 1px #fad136;
    -moz-box-shadow: 0px 0px 10px 1px #fad136;
    box-shadow: 0px 0px 10px 1px #fad136; }
    .best-help-you .card:hover .img-top {
      display: inline; }
    .best-help-you .card:hover .img-top-icon {
      opacity: 0; }
    .best-help-you .card:hover .p-text-general {
      color: #ffffff; }
  .best-help-you .card .p-text-general {
    color: #1e1e20; }

.behind-the-score {
  background-image: url(../images/behind-score.png); }
  .behind-the-score .border-yellow {
    border-bottom: 2px solid #fabb36; }
  .behind-the-score .border-ornage {
    border-bottom: 2px solid #ea520f; }
  .behind-the-score .border-cayn {
    border-bottom: 2px solid #44bca3; }
  .behind-the-score .label-div {
    position: relative;
    top: 35px; }

.financial-toolbox {
  background-image: url(../images/01@1x.png); }
  .financial-toolbox .z-index-two {
    z-index: 2; }
  .financial-toolbox .border-cayn {
    border-bottom: 2px solid #44bca3; }
  .financial-toolbox .LikeToggler {
    cursor: pointer; }

.meet-the-bank {
  background-image: url(../images/01@1x.png); }
  .meet-the-bank .z-index-two {
    z-index: 2; }

.most-popular-videos .owl-most-popular.owl-carousel .owl-dots.disabled, .most-popular-videos .owl-most-popular.owl-carousel .owl-nav.disabled {
  display: block !important; }
.most-popular-videos .owl-nav > div {
  text-indent: -999px;
  overflow: hidden;
  position: absolute;
  bottom: 100px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all; }
.most-popular-videos .owl-nav > div:hover {
  opacity: 0.7; }
.most-popular-videos .owl-prev {
  height: 45px;
  width: 45px;
  background: url(../images/icon/left@1x.png) no-repeat center;
  left: -110px;
  top: 60px; }
.most-popular-videos .owl-next {
  height: 45px;
  width: 45px;
  background: url(../images/icon/right@1x.png) no-repeat center;
  right: -110px;
  top: 60px; }
.most-popular-videos .owl-most-popular.owl-carousel .owl-item img.heart-img-link {
  height: 30px;
  width: 30px;
  cursor: pointer; }

.max-width-850 {
  max-width: 850px !important; }

.most-read-articles .owl-most-articles.owl-carousel .owl-dots.disabled, .most-read-articles .owl-most-articles.owl-carousel .owl-nav.disabled {
  display: block !important; }
.most-read-articles .owl-nav > div {
  text-indent: -999px;
  overflow: hidden;
  position: absolute;
  bottom: 100px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all; }
.most-read-articles .owl-nav > div:hover {
  opacity: 0.7; }
.most-read-articles .owl-prev {
  height: 45px;
  width: 45px;
  background: url(../images/icon/left@1x.png) no-repeat center;
  left: -110px;
  top: 60px; }
.most-read-articles .owl-next {
  height: 45px;
  width: 45px;
  background: url(../images/icon/right@1x.png) no-repeat center;
  right: -110px;
  top: 60px; }
.most-read-articles .owl-most-popular.owl-carousel .owl-item img.heart-img-link {
  height: 30px;
  width: 30px;
  cursor: pointer; }
.most-read-articles h5.paragraph-bold-14-34.text-primary-brightsidepurple.text-left.m-0.mt-3.mb-3 {
  min-height: 32px; }

.custom-h4-font-size {
  letter-spacing: 1px;
  font-size: 1.8rem; }

.line-height-25 {
  line-height: 25px; }

.w-85 {
  width: 85% !important; }

.w-90 {
  width: 90% !important; }

.apply-btn {
  background: url(../images/icon/arrow-left-btn.white@1x.png) no-repeat right 6px;
  padding-right: 39px;
  background-size: 36px 12px;
  line-height: normal;
  text-decoration: none; }
  .apply-btn:hover {
    text-decoration: none; }

.letsgo-btn {
  background: url(../images/icon/arrow-left.purple@1x.png) no-repeat right 6px;
  padding-right: 55px;
  background-size: 42px 11px;
  line-height: normal; }
  .letsgo-btn:hover {
    text-decoration: underline; }

.border-radius-15 {
  border-radius: 15px !important; }

.border-radius-top-bottom-15 {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important; }

#prev {
  position: relative;
  right: 50px; }

/* Text Color */
.text-primary-eccentricyellow {
  color: #fad136 !important; }

.text-primary-brightsidepurple {
  color: #6b17b3 !important; }

.text-primary-black {
  color: #1e1e20 !important; }

.text-primary-techgrey {
  color: #f2f2f2 !important; }

.text-primary-techgrey-dark {
  color: #E3E4E5 !important; }

.text-secondary-smartgreen {
  color: #44bca3 !important; }

.text-secondary-powerblue {
  color: #2661d2 !important; }

.text-secondary-positivepink {
  color: #d10b4f !important; }

.text-secondary-pureorange {
  color: #ea520f !important; }

.text-secondary-textyellow {
  color: #fabb36 !important; }

.text-secondary-grey {
  color: #AEB6B9 !important; }

.text-semi-black {
  color: #7B7B7B !important; }

.wsmenu .wsmenu-list > li {
  font-family: "OpenSans-bold", Sans Serif !important; }

.wsmenu .wsmenu-list > li.big-bank-alternative-text {
  font-family: "OpenSans-regular", Sans Serif !important;
  font-size: 0.8rem; }

.big-title {
  font-weight: bold;
  color: #4A4A4A; }

.small-title {
  font-weight: bold;
  color: #4A4A4A; }

.margin-top-div {
  margin: 40px 0 0 0; }

.margin-top-primary-secondary {
  margin: 100px 0 0 0; }

.navbar-light .navbar-nav .nav-link {
  color: #1e1e20 !important; }

#inputs {
  padding-bottom: 60px; }

/*.row {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
}*/
/* CSS code for home page */
body.home-page {
  height: 100%;
  overflow: hidden;
  /*  .bottom-right-begin {
      position: absolute;
      bottom: 3%;
      right: 10%;
      background-color: $color-button;
      color: $color_white;
      border-radius: 30px;
      .hotspot {
        color: $color_white;
        text-decoration: none;
        &:hover {
          color: $color_Silver;
          text-decoration: none;
        }
      }
    }
    .bottom-center {
      position: absolute;
      bottom: 9%;
      left: 50%;
      transform: translate(-50%, -50%);
      .prototype-link {
        color: $color_Silver;
        text-decoration: underline;
        text-transform: uppercase;
      }
    }*/ }
  body.home-page .home-banner {
    width: 100%;
    height: 100%; }
  body.home-page .home-page-splash {
    text-align: center;
    color: white;
    /* Bottom left text */
    /* Top left text */
    /* Top right text */
    /* Bottom right text */
    /* Centered text */ }
    body.home-page .home-page-splash .bottom-left {
      position: absolute;
      bottom: -175px;
      left: -125px; }
    body.home-page .home-page-splash .bottom-left-second {
      position: absolute;
      bottom: 125px;
      left: 150px; }
    body.home-page .home-page-splash .top-left {
      position: absolute;
      top: -144px;
      left: -148px; }
    body.home-page .home-page-splash .top-left-second {
      position: absolute;
      top: 90px;
      left: -148px; }
    body.home-page .home-page-splash .top-right {
      position: absolute;
      top: -100px;
      right: -60px; }
    body.home-page .home-page-splash .bottom-right {
      position: absolute;
      bottom: 8px;
      right: -195px; }
      body.home-page .home-page-splash .bottom-right img {
        transform: rotate(160deg); }
    body.home-page .home-page-splash .bottom-right-second {
      position: absolute;
      bottom: 90px;
      right: 256px; }
    body.home-page .home-page-splash .btn-begin {
      width: 200px; }
    body.home-page .home-page-splash .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    body.home-page .home-page-splash .splash-sprite-image {
      width: 390px;
      position: relative;
      z-index: 2; }
    body.home-page .home-page-splash .splash-sprite-image-round {
      width: 115px; }

/* CSS code for Overview and grid */
body.overview-and-grid .big-title {
  font-weight: bold;
  color: #4A4A4A; }
body.overview-and-grid .center-grid {
  color: #cccccc; }
body.overview-and-grid .centered-credit-without-score {
  height: -webkit-fill-available;
  width: 100%;
  /* Centered text */ }
  body.overview-and-grid .centered-credit-without-score .centered {
    max-width: 435px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%); }
    body.overview-and-grid .centered-credit-without-score .centered .credit-without-score-text {
      font-size: 3.5rem;
      font-family: "OpenSans-bold", Sans Serif;
      line-height: 50px; }
body.overview-and-grid .primary-div {
  transform: rotate(-90deg);
  height: 170px;
  position: absolute; }
  body.overview-and-grid .primary-div .primary-text {
    white-space: nowrap; }
body.overview-and-grid .div-eccentricyellow {
  background-color: #fad136;
  width: 170px;
  height: 170px;
  margin: 0 auto; }
body.overview-and-grid .div-brightsidepurple {
  background-color: #6b17b3;
  width: 170px;
  height: 170px;
  margin: 0 auto; }
body.overview-and-grid .div-black {
  background-color: #1e1e20;
  width: 170px;
  height: 170px;
  margin: 0 auto; }
body.overview-and-grid .div-techgrey {
  background-color: #f2f2f2;
  width: 170px;
  height: 170px;
  margin: 0 auto; }
body.overview-and-grid .color-code {
  padding-top: 40%; }
body.overview-and-grid .secondary-color-divs {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center; }
  body.overview-and-grid .secondary-color-divs .div-smartgreen {
    background-color: #44bca3;
    width: 140px;
    height: 140px;
    margin: 0 auto; }
  body.overview-and-grid .secondary-color-divs .div-powerblue {
    background-color: #2661d2;
    width: 140px;
    height: 140px;
    margin: 0 auto; }
  body.overview-and-grid .secondary-color-divs .div-positivepink {
    background-color: #d10b4f;
    width: 140px;
    height: 140px;
    margin: 0 auto; }
  body.overview-and-grid .secondary-color-divs .div-pureorange {
    background-color: #ea520f;
    width: 140px;
    height: 140px;
    margin: 0 auto; }
  body.overview-and-grid .secondary-color-divs .div-textyellow {
    background-color: #fabb36;
    width: 140px;
    height: 140px;
    margin: 0 auto; }
body.overview-and-grid .color-name {
  color: #cccccc; }
body.overview-and-grid .pattern-name {
  color: #cccccc;
  font-size: 0.9rem; }
body.overview-and-grid .Pattern-img-div img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/* Pagination CSS */
.pagination-bottom-text {
  color: #dddddd;
  font-size: 0.8rem; }

.pagination-1to7 {
  width: fit-content;
  margin: 0 auto;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  -webkit-box-shadow: 0px 0px 30px 0px gainsboro;
  -moz-box-shadow: 0px 0px 30px 0px gainsboro;
  box-shadow: 0px 0px 30px 0px gainsboro; }
  .pagination-1to7 .prev-underline {
    text-decoration: underline; }
  .pagination-1to7 li:first-child.page-item {
    border-right: 1px solid #dddddd;
    padding: 5px;
    margin-left: 0; }
  .pagination-1to7 li.page-item:last-child {
    border-left: 1px solid #dddddd;
    padding: 5px;
    margin-right: 0; }
  .pagination-1to7 li.page-item {
    margin: 0 1px; }
  .pagination-1to7 .pagination-link {
    font-size: 0.9rem;
    font-weight: 600;
    color: #868e96;
    border-right: 1px solid #dddddd;
    padding: .5rem .75rem;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
    margin-top: 5px; }
  .pagination-1to7 .page-item:first-child .page-link.pagination-link {
    border-right: 0 !important; }
  .pagination-1to7 .page-item:last-child .page-link.pagination-link {
    border-right: 0 !important; }
  .pagination-1to7 .page-item:nth-last-child(2) .page-link.pagination-link {
    border-right: 0 !important; }
  .pagination-1to7 .active .page-link.pagination-link {
    z-index: 2;
    font-weight: bold;
    color: #1e1e20;
    background-color: #ffffff !important;
    border-color: #dddddd; }
  .pagination-1to7 .page-link.pagination-link:focus {
    font-weight: bold;
    color: #1e1e20;
    background-color: transparent; }
  .pagination-1to7 .page-link.pagination-link:hover {
    background-color: transparent;
    font-weight: bold;
    color: #1e1e20; }
  .pagination-1to7 .page-link.pagination-link.pagination-next:focus {
    font-weight: 600; }
  .pagination-1to7 .page-link.pagination-link.pagination-next:hover {
    font-weight: 600; }

.pagination-1to10 {
  width: fit-content;
  margin: 0 auto;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  -webkit-box-shadow: 0px 0px 30px 0px gainsboro;
  -moz-box-shadow: 0px 0px 30px 0px gainsboro;
  box-shadow: 0px 0px 30px 0px gainsboro; }
  .pagination-1to10 .prev-underline {
    text-decoration: underline; }
  .pagination-1to10 li:first-child.page-item {
    border-right: 1px solid #dddddd;
    padding: 5px;
    margin-left: 0; }
  .pagination-1to10 li.page-item:last-child {
    border-left: 1px solid #dddddd;
    padding: 5px;
    margin-right: 0; }
  .pagination-1to10 li.page-item {
    margin: 0 1px; }
  .pagination-1to10 .pagination-link {
    font-size: 0.9rem;
    font-weight: 600;
    color: #868e96;
    border-right: 1px solid #dddddd;
    padding: .5rem .75rem;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
    margin-top: 5px; }
  .pagination-1to10 .page-item:first-child .page-link.pagination-link {
    border-right: 0 !important; }
  .pagination-1to10 .page-item:last-child .page-link.pagination-link {
    border-right: 0 !important; }
  .pagination-1to10 .page-item:nth-last-child(2) .page-link.pagination-link {
    border-right: 0 !important; }
  .pagination-1to10 .active .page-link.pagination-link {
    z-index: 2;
    font-weight: bold;
    color: #1e1e20;
    background-color: #ffffff !important;
    border-color: #dddddd; }
  .pagination-1to10 .page-link.pagination-link:focus {
    font-weight: bold;
    color: #1e1e20;
    background-color: transparent; }
  .pagination-1to10 .page-link.pagination-link:hover {
    background-color: transparent;
    font-weight: bold;
    color: #1e1e20; }
  .pagination-1to10 .page-link.pagination-link.pagination-next:focus {
    font-weight: 600; }
  .pagination-1to10 .page-link.pagination-link.pagination-next:hover {
    font-weight: 600; }

/* Modal CSS start */
.custom-modal .modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  max-width: 480px; }
  @media (max-width: 768px) {
    .custom-modal .modal-dialog {
      min-height: calc(100vh - 20px); } }
.custom-modal .modal-header {
  border-bottom: none;
  padding: 10px 15px 20px 15px; }
  .custom-modal .modal-header .modal-title {
    font-size: 1.8rem; }
  .custom-modal .modal-header .close {
    font-size: 2rem;
    cursor: pointer;
    padding: 2px !important; }
    .custom-modal .modal-header .close:focus {
      outline: none !important; }
.custom-modal .modal-content {
  border-radius: .9rem;
  min-height: 350px; }
.custom-modal .modal-footer {
  display: block;
  width: 94%;
  margin: 0 auto;
  border-top: 2px solid #e9ecef;
  padding: 15px 0; }
  .custom-modal .modal-footer .modal-footer-link {
    padding-top: 5px;
    text-decoration: underline;
    text-decoration-color: #6b17b3; }

/*Loader CSS start*/
.loader-pc .loader-pc-img {
  display: block;
  margin: 0 auto; }

/*Navigation header start*/
.navigational-header {
  /*  .navbar-dark {
      .navbar-toggler-icon{
        background-image:url("../images/icon/hamburger@1x.png");
      }
    }*/ }

/*form-inputs css start*/
.form-inputs {
  /*.wrapper-dropdown-3 .dropdown:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      bottom: 100%;
      right: 15px;
      border-width: 0 6px 6px 6px;
      border-style: solid;
      border-color: #fff transparent;
  }

  .wrapper-dropdown-3 .dropdown:before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      bottom: 100%;
      right: 13px;
      border-width: 0 8px 8px 8px;
      border-style: solid;
      border-color: rgba(0,0,0,0.1) transparent;
  }*/
  /* Hover state */
  /* Active state */
  /* No CSS3 support */ }
  .form-inputs .wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: auto;
    margin: 0 auto;
    padding: 10px;
    border-radius: 3px;
    background: #fff;
    border: 2px solid #f2f2f2;
    cursor: pointer;
    outline: none;
    -webkit-box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.1);
    box-shadow: 0 0 15px 0 rgba(50, 50, 50, 0.1); }
  .form-inputs .wrapper-dropdown-3.idleEmpty {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 2px solid #AAB2B5; }
  .form-inputs .wrapper-dropdown-3.idlefilled {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 2px solid #AAB2B5; }
  .form-inputs .wrapper-dropdown-3.focused {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 2px solid #6b17b3; }
  .form-inputs .wrapper-dropdown-3.errorempty {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 2px solid #d10b4f; }
  .form-inputs .wrapper-dropdown-3.errorfilled {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 2px solid #d10b4f; }
  .form-inputs .select-label {
    font-size: 0.8rem;
    font-weight: 600; }
  .form-inputs .select-error {
    color: #d10b4f;
    font-size: 0.8rem;
    font-weight: 600; }
  .form-inputs .wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #000 transparent; }
  .form-inputs .wrapper-dropdown-3 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    /* Styles */
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.17);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;
    /* Hiding */
    opacity: 0;
    pointer-events: none; }
  .form-inputs .wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 white;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .form-inputs .wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit; }
  .form-inputs .wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0; }
  .form-inputs .wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px; }
  .form-inputs .wrapper-dropdown-3 .dropdown li:hover a {
    background: #f3f8f8; }
  .form-inputs .wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
    z-index: 2; }
  .form-inputs .no-opacity .wrapper-dropdown-3 .dropdown,
  .form-inputs .no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1;
    /* If opacity support but no pointer-events support */
    pointer-events: auto;
    /* If pointer-events support but no pointer-events support */ }
  .form-inputs .no-opacity .wrapper-dropdown-3.active .dropdown,
  .form-inputs .no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block; }

/*Footer Css Start*/
.pre-signup-footer .pre-signup-footer-bg {
  background-color: #6b17b3;
  min-height: 253px; }
  .pre-signup-footer .pre-signup-footer-bg .no-credit-card-text {
    font-size: 0.9rem; }
  .pre-signup-footer .pre-signup-footer-bg .social-footer-ul {
    list-style: none;
    display: inline; }
    .pre-signup-footer .pre-signup-footer-bg .social-footer-ul .social-footer-li {
      display: inline; }
.pre-signup-footer .top-left-circle {
  position: absolute;
  top: -47px;
  left: -99px; }
.pre-signup-footer .top-right-triangle {
  position: absolute;
  top: 0;
  right: -32px; }
  .pre-signup-footer .top-right-triangle img {
    max-width: 180px; }
.pre-signup-footer .top-right-arc {
  position: absolute;
  top: 0;
  right: -32px; }
  .pre-signup-footer .top-right-arc img {
    max-width: 90px;
    transform: rotate(170deg); }
.pre-signup-footer .top-left-dotted {
  position: absolute;
  top: 65px;
  left: 110px; }
.pre-signup-footer .top-left-curve {
  position: absolute;
  top: 100px;
  left: -21px; }
  .pre-signup-footer .top-left-curve img {
    transform: rotate(160deg); }
.pre-signup-footer .footer-details {
  width: 85%;
  font-size: 0.6rem;
  text-align: left;
  margin: 0 auto;
  color: #cccccc; }
  .pre-signup-footer .footer-details .social-footer-ul {
    list-style: none;
    display: inline; }
    .pre-signup-footer .footer-details .social-footer-ul .social-footer-li {
      display: inline; }
  .pre-signup-footer .footer-details .footer-bootom-first {
    color: #cccccc !important;
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-color: #cccccc !important; }
    .pre-signup-footer .footer-details .footer-bootom-first .footer-bootom-ul {
      list-style: none; }
      .pre-signup-footer .footer-details .footer-bootom-first .footer-bootom-ul .footer-bootom-li {
        float: left; }
        .pre-signup-footer .footer-details .footer-bootom-first .footer-bootom-ul .footer-bootom-li .footer-bootom-a {
          color: #cccccc !important;
          font-size: 1rem;
          text-decoration: underline;
          text-decoration-color: #cccccc !important; }
  .pre-signup-footer .footer-details .footer-bootom-second .footer-copyright-text {
    font-size: 0.9rem; }

.pro-signup-footer .pro-signup-footer-bg {
  background-color: #6b17b3;
  min-height: 177px; }
  .pro-signup-footer .pro-signup-footer-bg .social-footer-ul {
    list-style: none;
    display: inline; }
    .pro-signup-footer .pro-signup-footer-bg .social-footer-ul .social-footer-li {
      display: inline; }
.pro-signup-footer .footer-details {
  width: 85%;
  font-size: 0.6rem;
  text-align: left;
  margin: 0 auto;
  color: #cccccc; }
  .pro-signup-footer .footer-details .social-footer-ul {
    list-style: none;
    display: inline; }
    .pro-signup-footer .footer-details .social-footer-ul .social-footer-li {
      display: inline; }
  .pro-signup-footer .footer-details .footer-bootom-first {
    color: #cccccc !important;
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-color: #cccccc !important; }
    .pro-signup-footer .footer-details .footer-bootom-first .footer-bootom-ul {
      list-style: none; }
      .pro-signup-footer .footer-details .footer-bootom-first .footer-bootom-ul .footer-bootom-li {
        float: left; }
        .pro-signup-footer .footer-details .footer-bootom-first .footer-bootom-ul .footer-bootom-li .footer-bootom-a {
          color: #cccccc !important;
          font-size: 1rem;
          text-decoration: underline;
          text-decoration-color: #cccccc !important; }
  .pro-signup-footer .footer-details .footer-bootom-second .footer-copyright-text {
    font-size: 0.9rem; }

/* Media CSS start */
@media (max-width: 768px) {
  .header-menu-text-pro {
    font-size: 17px;
    padding: 15px 20px; } }
@media (max-width: 480px) {
  .header-menu-text {
    font-size: 11px !important;
    padding: 15px 0 !important; }

  .header-menu-text-pro {
    font-size: 11px !important;
    padding: 15px 0 0 !important; }

  .header-menu-text-pro-sec {
    font-size: 11px !important;
    padding: 0 !important; } }

/*# sourceMappingURL=style.css.map */
